body{
    min-height:100%;
  background: url(background5.jpg) rgba(0, 0, 78, 0.4) no-repeat center center fixed;
  background-blend-mode: multiply;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


  }
   .back{
    background:linear-gradient(#5d54a4, #9d65c9);

  }
  #title{
    margin:auto;
    margin-top:2%;
    width:50%;
    border-bottom: solid 2px rgb(0, 0, 255);
    font-size:70px;
    text-align: center;
    /* box-shadow: 0px 1px 0px rgb(177,177,255), 0px 10px 0px rgb(98,98,255), 0px 20px 0px #00b3ff; */
    padding:2%;
    font-weight: 1000;
    color:#111;
    font-family: 'Great Vibes', cursive;
    animation: animate 2s ease infinite;
  }

  @keyframes animate{
    0%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);
    }
    10%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(20,20,255), 0 0 14px rgb(20,20,255), 0 0 30px rgb(20,20,255);
    }
    20%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(78,78,255), 0 0 14px rgb(78,78,255), 0 0 30px rgb(78,78,255);
    }
    30%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(118,118,255), 0 0 14px rgb(118,118,255), 0 0 30px rgb(118,118,255);
    }
    40%{
      color: rgb(232,255,249);
      text-shadow: 0 0 2px rgb(118,118,255), 0 0 14px rgb(118,118,255), 0 0 30px rgb(118,118,255);
    }
    50%{
      color: rgb(232,255,249);
      text-shadow: 0 0 2px rgb(118,118,255), 0 0 14px rgb(118,118,255), 0 0 30px rgb(118,118,255);
    }
    60%{
      color: rgb(232,255,249);
      text-shadow: 0 0 2px rgb(118,118,255), 0 0 14px rgb(118,118,255), 0 0 30px rgb(118,118,255);
    }
    70%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(78,78,255), 0 0 14px rgb(78,78,255), 0 0 30px rgb(78,78,255);
    }
    80%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(20,20,255), 0 0 14px rgb(20,20,255), 0 0 30px rgb(20,20,255);
    }
    90%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);
    }
    100%{
      color: rgb(196,196,255);
      text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);
    }
  }

  @media only screen and (max-width: 500px){
      /* box-sizing: border-box; */
      #title{
      margin:auto;
      margin-top:2%;
      width:40%;

      border-bottom: solid 2px rgb(0, 0, 255);

      font-size: 325%;
      text-align: center;
      padding:2%;
      font-weight: 1000;
      color:white;
      /* text-shadow: 2px 2px 8px #FF0000; */

      font-family: 'Great Vibes', cursive;

    }
  }
  .stitle{

    font-family: 'Shadows Into Light', cursive;

    width:50%;
    margin:3% auto;
    font-size:50px;
    font-weight: 800;
    text-align: center;
    padding:2%;
      color:rgb(20,138,255);
    /*text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);*/
}

  .act{
    padding:5% auto;
    margin-bottom:5px;
  }

  .w{
    background: url(tom1.jfif) rgba(0,0,0,0.8);
    /* filter: grayscale(70%); */
    background-size: cover;

  }
  .a{
    background: url(tom2.jpg) rgba(0,0,0,0.8);
    /* filter: grayscale(70%); */
    background-size: cover;

  }
  .s{
    background: url(tom3.jfif) rgba(0, 0, 0, 0.8);
    /* filter: grayscale(70%); */
    background-size: cover;
  }
  .d{
    background-image: url("tom4.jpg");
    /* filter: grayscale(70%); */
    background-size: cover;
  }
  .j{
    background: url(snare.jpg) rgba(0,0,0,0.4);
    /* filter: grayscale(70%); */
    background-size: cover;
    background-blend-mode: multiply;
  }
  .k{
    background-image: url("kick.jfif");
    /* filter: grayscale(100%); */
    background-size: cover;
  }
  .l{
    background-image: url("crash.jfif");
    /* filter: grayscale(70%); */
    background-size: cover;
  }
  button{
    border-radius:50%;
    outline:none;
    /* border:black solid; */
  }
  span{
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  }
  .drum{
    /* box-shadow: 5px 5px 5px 5px rgba(255,0,0,0.6); */
    box-shadow: 0px 8px 11px 0px rgb(0, 0, 255);

    outline: none;

    cursor: pointer;
    display:inline-block;
    text-align:center;
    color: rgb(232,255,249);
    text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);
    font-weight: 900;
    filter: blur(0.4);
    /* text-shadow: 3px 1px rgb(7,67,0); */
    line-height:2;
    height:150px;
    width:150px;
    font-size:5rem;
    border-radius:50%;
    margin:5px;
  }

  .pressed{
    box-shadow: 0 3px 4px 0;
    opacity: 0.5;
  }






  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;

    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .abt{
    color:rgb(0, 0, 255);
    /* background-color: ; */
    border-radius: 50%;

    font-size:30px;

  }
  .abt:hover{
    font-size:36px;
    transition-delay: .2;
  }
  .abti{
    width:50px;
  }
  .abti:hover{
    width:60px;

    transition-delay: .2;
  }


  .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(173,239,209,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .nav-link{
      font-size: 26px;
      font-weight: 800;
      text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);

      font-family: 'Great Vibes', cursive;

    }

    .custom-toggler.navbar-toggler {
      border-color:rgb(0,0,255);
    }

    .nav-color{
        color:rgb(0,0,255);
        opacity:0.7;
   }
   .nav-color:hover{
       opacity:1;
   }
   .activ{
      opacity:1;
   }
   .navbar-brand-color{
    color:rgb(0,0,255);
    font-size: 3rem;
   }

   .custom-toggler .navbar-toggler-icon {
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(173,239,209,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
     }
     .nav-link{
       font-size: 26px;
       font-weight: 800;
       text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);

       font-family: 'Great Vibes', cursive;

     }

     .custom-toggler.navbar-toggler {
        color:rgb(0,0,255);
     }

     .nav-color{
       color: rgb(196,196,255);
       text-shadow: 0 0 2px rgb(0,0,255), 0 0 14px rgb(0,0,255), 0 0 30px rgb(0,0,255);
    }
     .nav-color:hover{
        /* color: rgb(196,196,255); */
        opacity:1;
    }
    .activ{
      color:rgb(255, 255, 255);
      text-shadow: 0 0 2px rgb(255,255,255), 0 0 14px rgb(78,78,255), 0 0 30px rgb(78,78,255);
       opacity:1;
    }
    /* .navbar-brand-color{
        color:rgb(52,255,27);
        font-size: 3rem;
    } */

    .nav-item{
        margin-right: 10px;
    }

    #microphone{
      font-size:0.8em;
      cursor: pointer;
    }

    .abtim{
      font-size:20px;
    }
    .abtim:hover{
      font-size:30px;

      transition-delay: .2;
    }
