body{
  min-height:100%;
background: url(https://images.freeimages.com/images/large-previews/0a3/percussion-sticks-1177977.jpg) rgba(88,28,12,0.8) no-repeat center center fixed;

background-blend-mode: multiply;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
  padding-bottom:10px;


}

#title{

  margin:auto;
  margin-top:2%;
  width:50%;

  border-bottom: solid white 2px;
  font-size:70px;
  text-align: center;
  padding:2%;
  font-weight: 1000;
  color:#fca652;
  text-shadow: 4px 4px 10px #ca5116;
  font-family: 'Great Vibes', cursive;

}

.stitle{

  font-family: 'Shadows Into Light', cursive;

  width:50%;
  margin:5% auto;
  font-size:50px;
  font-weight: 800;
  text-align: center;
  padding:2%;
  color:#ffefa0;
}

button{
  border-radius:50%;
  outline:none;
  /* border:black solid; */
}
span{
  -webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10+ and Edge */
user-select: none; /* Standard syntax */
}
.xylo{
margin:auto;
width: 50%;
}

.DO{
  height:290px;
  width: 13%;

  margin-bottom: 80px;
  /* background:linear-gradient(45deg,#ED5564,white); */
  background: #ED5564;
  border-radius: 4%;
  display:block;
  float:left;

}
.RE{
  margin-top:5px;
  height:280px;
  width: 13%;
  /* background:linear-gradient(45deg,#FFCE54,white); */
  background: #FFCE54;
  border-radius: 4%;
  display:block;
  float:left;

}

.MI{
  margin-top:10px;
  height:270px;
  width: 13%;
  /* background:linear-gradient(45deg,#A0D568,white); */
  background: #A0D568;
  border-radius: 4%;
  display:block;
  float:left;

}

.FA{
  margin-top:15px;
  height:260px;
  width: 13%;
  /* background:linear-gradient(45deg,#49da9a,white); */
  background: #49da9a;
  border-radius: 4%;
  display:block;
  float:left;
}

.SO{
  margin-top:20px;
  height:250px;
  width: 13%;
  /* background:linear-gradient(45deg,#4FC1E8,white); */
  background: #4FC1E8;
  border-radius: 4%;
  display:block;
  float:left;
}


.LA{
  margin-top:25px;
  height:240px;
  width: 13%;
  /* background:linear-gradient(45deg,#AC92EB,white); */
  background: #4355db;
  border-radius: 4%;
  display:block;
  float:left;
}


.TI{
  margin-top:30px;
  height:230px;
  width: 13%;
  /* background:linear-gradient(45deg,yellow,white); */
  background: #AC92EB;
  border-radius: 4%;
  display:block;
  float:left;
}




@media only screen and (max-width: 700px){
  .DO{
    height:250px;
    width: 14%;

    margin-bottom: 80px;
    /* background:linear-gradient(45deg,#ED5564,white); */
    background: #ED5564;
    border-radius: 6px 6px 0 0;
    display:block;
    float:left;

  }
  .RE{
    margin-top:10px;
    height:240px;
    width: 14%;
    /* background:linear-gradient(45deg,#FFCE54,white); */
    background: #FFCE54;
    border-radius: 6px 6px 0 0;
    display:block;
    float:left;

  }

  .MI{
    margin-top:15px;
    height:230px;
    width: 14%;
    /* background:linear-gradient(45deg,#A0D568,white); */
    background: #A0D568;
    border-radius: 6px 6px 0 0;;
    display:block;
    float:left;

  }

  .FA{
    margin-top:20px;
    height:220px;
    width: 14%;
    /* background:linear-gradient(45deg,#49da9a,white); */
    background: #49da9a;
    border-radius: 6px 6px 0 0;
    display:block;
    float:left;
  }

  .SO{
    margin-top:25px;
    height:210px;
    width: 14%;
    /* background:linear-gradient(45deg,#4FC1E8,white); */
    background: #4FC1E8;
    border-radius: 6px 6px 0 0;
    display:block;
    float:left;
  }


  .LA{
    margin-top:30px;
    height:200px;
    width: 14%;
    /* background:linear-gradient(45deg,#AC92EB,white); */
    background: #4355db;
    border-radius: 6px 6px 0 0;
    display:block;
    float:left;
  }


  .TI{
    margin-top:35px;
    height:190px;
    width: 14%;
    /* background:linear-gradient(45deg,yellow,white); */
    background: #AC92EB;
    border-radius: 6px 6px 0 0;
    display:block;
    float:left;
  }
}



/* Dropdown Button */
.dropbtn {
  color: white;
  background-color: rgba(0,0,0,0);
  /* padding: 16px; */

  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(157,101,201,0.6);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(157,101,201);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.pressed{
  box-shadow: 0 3px 4px 0;
  opacity: 0.5;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;

  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.abt{
  color:#fca652;font-size:30px;

}
.abt:hover{
  font-size:36px;
  transition-delay: .2;
}
.abti{
  width:50px;
}
.abti:hover{
  width:60px;

  transition-delay: .2;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(88,22,12,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-link{
    font-size: 26px;
    font-weight: 800;
    text-shadow: 2px 2px 8px #ac4b1c;

    font-family: 'Great Vibes', cursive;

  }

  .custom-toggler.navbar-toggler {
    border-color:#ffd57e;
  }

  .nav-color{
      color:#ffd57e;
      opacity:0.7;
 }
 .nav-color:hover{
     opacity:1;
 }
 .activ{
    opacity:1;
 }
 #microphone{
   font-size:0.8em;
   cursor: pointer;
 }

 .abtim{
   font-size:20px;
 }
 .abtim:hover{
   font-size:30px;

   transition-delay: .2;
 }
